parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Entity\\Maxfield\:\:\$id \(int\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Maxfield.php

		-
			message: '#^Property App\\Entity\\User\:\:\$params \(array\<string\>\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Use explicit methods over array access on object$#'
			identifier: typePerfect.noArrayAccessOnObject
			count: 1
			path: src/Entity/User.php

		-
			message: '#^Property App\\Entity\\Waypoint\:\:\$guid \(string\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Waypoint.php

		-
			message: '#^Property App\\Entity\\Waypoint\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Entity/Waypoint.php

		-
			message: '#^Class App\\Repository\\MaxfieldRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/MaxfieldRepository.php

		-
			message: '#^Class App\\Repository\\MaxfieldRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/MaxfieldRepository.php

		-
			message: '#^Class App\\Repository\\MaxfieldRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/MaxfieldRepository.php

		-
			message: '#^Class App\\Repository\\MaxfieldRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/MaxfieldRepository.php

		-
			message: '#^PHPDoc tag @var with type class\-string\<App\\Repository\\MaxfieldRepository\> is not subtype of native type ''App\\\\Entity\\\\Maxfield''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Repository/MaxfieldRepository.php

		-
			message: '#^Class App\\Repository\\UserRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Class App\\Repository\\UserRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Class App\\Repository\\UserRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Class App\\Repository\\UserRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^PHPDoc tag @var with type class\-string\<App\\Repository\\UserRepository\> is not subtype of native type ''App\\\\Entity\\\\User''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Repository/UserRepository.php

		-
			message: '#^Class App\\Repository\\WaypointRepository has PHPDoc tag @method for method findBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/WaypointRepository.php

		-
			message: '#^Class App\\Repository\\WaypointRepository has PHPDoc tag @method for method findBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/WaypointRepository.php

		-
			message: '#^Class App\\Repository\\WaypointRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#1 \$criteria with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/WaypointRepository.php

		-
			message: '#^Class App\\Repository\\WaypointRepository has PHPDoc tag @method for method findOneBy\(\) parameter \#2 \$orderBy with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Repository/WaypointRepository.php

		-
			message: '#^PHPDoc tag @var with type class\-string\<App\\Repository\\WaypointRepository\> is not subtype of native type ''App\\\\Entity\\\\Waypoint''\.$#'
			identifier: varTag.nativeType
			count: 1
			path: src/Repository/WaypointRepository.php

		-
			message: '#^Method App\\Service\\MaxFieldGenerator\:\:getWaypointsMap\(\) should return array\<array\<int, string\>\> but returns list\<array\<int, int\|string\|null\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Service/MaxFieldGenerator.php

		-
			message: '#^Invalid array key type float\.$#'
			identifier: offsetAccess.invalidOffset
			count: 1
			path: src/Service/MaxFieldHelper.php

		-
			message: '#^Property App\\Type\\WaypointMap\:\:\$dbId \(int\) does not accept string\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Service/MaxFieldHelper.php

		-
			message: '#^Property App\\Type\\WaypointMap\:\:\$mapNo \(int\) does not accept string\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: src/Service/MaxFieldHelper.php

		-
			message: '#^Parameter \#3 \$value of function curl_setopt expects bool, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Service/WayPointHelper.php

		-
			message: '#^Out of 59 possible property types, only 58 \- 98\.3 %% actually have it\. Add more property types to get over 100 %%$#'
			identifier: typeCoverage.propertyTypeCoverage
			count: 1
			path: src/Type/MaxfieldCreateType.php

		-
			message: '#^Property App\\Type\\MaxfieldCreateType\:\:\$playersNum has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: src/Type/MaxfieldCreateType.php

		-
			message: '#^Property App\\Tests\\Controller\\ControllerAccessTest\:\:\$exceptions \(array\<string, array\<string, array\<string, int\>\>\>\) does not accept default value of type array\<string, array\<string, array\<string, int\|string\>\>\>\.$#'
			identifier: property.defaultValue
			count: 1
			path: tests/Controller/ControllerAccessTest.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php

