parameters:
	ignoreErrors:
		-
			message: "#^Offset float does not exist on 'BKMGTP'\\.$#"
			count: 1
			path: src/Service/MaxFieldHelper.php

		-
			message: "#^Parameter \\#1 \\$string of function strlen expects string, int\\<0, max\\>\\|false given\\.$#"
			count: 1
			path: src/Service/MaxFieldHelper.php

