html, body, #map {
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    padding-top: 55px;
}

#map {
    margin-bottom: -40px;
}

.link-layer h4 {
    color: blue;
    font-size: 1.4em;
}

.farm-layer b {
    color: red;
    font-size: 1.6em;
}

button#btnNext {
    background-color: green;
    border: 1px solid green;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

button#btnNext:hover {
    background-color: white;
    border: 1px solid green;
    color: green;
}

.circle {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 10px;
    background: #fff;
    border: 3px solid #000;
    color: #000;
    text-align: center;
}

[data-bs-theme=dark] .circle {
    background: #000;
    border: 3px solid #666666;
    color: #ffffa0;
}

.circle.farmalot {
    background-color: #e7e1a5;
}

[data-bs-theme=dark] .circle.farmalot {
    background-color: #d2c11d;
    color: #000;
}

.circle-dest {
    background: #ffd840;
    font-size: 1.6em;
}

[data-bs-theme=dark] .circle-dest {
    background: #ffd840;
    color: #000;
}

a.routing-enabled {
    color: orange;
    cursor: pointer;
}
[data-bs-theme=dark] .leaflet-bar a.routing-enabled {
    color: orange;
    cursor: pointer;
}

div.leaflet-popup-content ol {
    padding-left: 0;
}

div#distanceBar {
    margin-bottom: 10px;
    font-size: 2em;
}

[data-bs-theme=dark] .leaflet-bar a {
    background-color: #000;
    color: #07bf05;
}

[data-bs-theme=dark] .leaflet-control-locate a {
    background-color: #fff;
}

[data-bs-theme=dark] .leaflet-control-layers-toggle{
    background-color: #000;

}

[data-bs-theme=dark] .leaflet-popup-content-wrapper {
    background-color: #000;
    color: #6db46c;
    border: 1px solid #666666;
}

[data-bs-theme=dark] .leaflet-control-layers-expanded {
    background-color: #000;
    color: #6db46c;
}

[data-bs-theme=dark] .leaflet-routing-container{
    background-color: #3a3333;

}

.farm-done{
    opacity: 0.2;
}