{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}{% endblock %}

{% block body %}
    {% if app.user %}
        {% for row in maxfields|batch(4) %}
            <div class="row">
                {% for maxfield in row %}
                    <div class="col-3">
                        <a class="btn btn-outline-success"
                           href="{{ path('maxfield_play', {'id': maxfield.id}) }}">
                            {{ maxfield.name }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <h4>
            Please <a href="{{ path('login') }}">log in</a>!
        </h4>
    {% endif %}
{% endblock %}
