<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>{% block title %}FroX{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}{% endblock %}
</head>

<body id="app-layout">

{% include '_menu.html.twig' %}

<noscript><h1 class="alert alert-danger">Please activate Javascript</h1></noscript>

{% include ('_flash-messages.html.twig') %}

{% block body %}{% endblock %}

{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</body>
</html>
