{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit Maxfield</h1>
                {{ include('maxfield/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
