{% extends 'base-map.html.twig' %}

{% block title %}
    {{ maxfield.name }}
{% endblock %}

{% block og_description %}{{ maxfield.name }}{% endblock %}
{% block og_image %}{{ absolute_url(asset('maxfields/' ~maxfield.path~'/link_map.png')) }}{% endblock %}

{% block body %}
    <div id="map"
            {{ stimulus_controller('maxfield-play', {
                jsonData: jsonData
            }) }}>
    </div>
{% endblock %}
